@font-face {
    font-family: 'Intro Inline';
    src: url('../fonts/Intro-Inline.woff2') format('woff2'),
        url('../fontsIntro-Inline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
