html{
    font-size: 14px;;
}
a:not(.btn){
    text-decoration: underline;
}
select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../img/select.png) calc(100% - 15px) center no-repeat;
    padding-right: 55px;
}
.custom-control-label{
    font-weight: 700;
    &:hover{
	cursor: pointer;
    }
}
.btn{
    min-width: 250px;
    text-transform: uppercase;
}
.btn-primary{
    color: #959595;
}
.btn-outline-primary {
    color: $gray-700;
    border-color: $gray-700;
}
.site-header{
    background-color: $black;
    text-align: center;
    padding: 2rem 0;
}
.h1{
    text-align: center;
    color: $red;
    padding: 20px 0;
}
.steps{
    background-color: $gray-800;
    color: $gray-700;
    display: flex;
    padding: 1rem 2rem;
    .step{
	flex: 0 0 11.11%;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	&:before,
	    &:after{
	    content: "";
	    position: absolute;
	    display: block;
	    background-color: $gray-700;
	    width: 40px;
	    height: 14px;
	    top: 26%;
	}
	&:before{
	    z-index: 1;
	    left: 0;
	}
	&:after{
	    z-index: 2;
	    right: -5px;
	    background:$gray-700 url(../img/step-sep.png) right center no-repeat;
	}
    }
    .step-1{
	&:before{
	    display: none;
	}
    }
    .step-9{
	&:after{
	    display: none;
	}
    }

    .round{
	position: relative;
	z-index: 3;
	background-color: $gray-800;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	border: 2px solid $gray-700;
	border-radius: 50%;
    }
    .num{
	font-size: 12px;
	font-family: $headings-font-family;
	margin-bottom: 5px;
    }
    .icon{
	width: 2.5em;
	height: 2.5em;
    }
    .step-name{
	margin-top: 5px;
    }
    .active{
	color: #fff;
	.round{
	    border-color: #fff;
	}
	&:before,
	    &:after{
	    background-color: #fff;
	}
	&:after{
	    background-image: url(../img/step-sep-active.png);
	}
    }
    .current{
	color: #fff;
	.round{
	    border-color: $red;
	}
	&:before{
	    background-color: #fff;
	}
	&:after{
	    background-color: $red;
	    background-image: url(../img/step-sep-current.png);
	}
    }
}
.main-content{
    background-color: #fff;
    padding: 20px;
}
.form-wrp{
    padding: 1.5rem 0 2rem;
}
.wrp-sm{
    max-width: 422px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*time-picker*/
.time-picker {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height:30px;
}
.time-variant {
    position: relative;
    background: $gray-200;
    margin: 5px 5px 10px;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 40%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: $headings-font-family;
    color: $gray-800;
    &.active,
    &:hover{
	cursor: pointer;
	background-color: $gray-900;
	color: #fff;
    }
    &:before {
	content:'';
	float:left;
	padding-top:100%;
    }
    &.popular:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 42px;
	top: -9px;
	background: url(../img/popular.png) center center no-repeat;
	background-size: contain;
    }
}
.card-header{
    text-align: center;
    h3{
	margin-bottom: 0;
    }
}
/*List*/
.list-group{
    p{
	margin-bottom: 0;
    }
    .heading{
	background-color: $gray-400;
	display: flex;
	justify-content: space-between;
	align-items: center;
    }
    .h3{
	margin-bottom: 0;
    }
    .row{
	align-items: center;
	margin-bottom: 5px;
	margin: 0;
    }
    [class*="col-"]{
	padding: 0;
    }
    .col-5{
	text-align: right;
	color: $black;
	font-weight: 700;
    }
    hr{
	margin: 1rem 0;
    }
    .total{
	.h3{
	    font-size: rem(22px);
	}
	.col-5{
	    font-size: rem(24px);
	}
    }
}
/*accordion*/
.accordion{
    .accordion-header{
	border-top: 1px solid $gray-300;
	.btn{
	    text-align: left;
	    width: 100%;
	    font-size: rem(20px);
	    text-transform: uppercase;
	    font-family: $headings-font-family;
	    color: $gray-800;
	    padding-left: 0;
	    background: url(../img/btn-collapse.png) right center no-repeat;
	}
	.collapsed{
	    background-image: url(../img/btn-collapsed.png);
	}
    }
    .list-group-item{
	padding-left: 0;
    }
    .list-group,
    .list-group-item{
	border-top: 1px solid $gray-300;
    }
}
.custom-control-label:after {
    width: 2rem;
    height: 2rem;
    top: -6px;
    left: -26px;
}
.menu-item{
    padding-left: 0;
    display: flex;
    .check-wrp{
	flex: 0 0 40px;
    }
    .thumb{
	flex: 0 0 80px;
	img{
	    width: 53px;
	}
    }

    .custom-checkbox{
	margin-top: 1rem;
    }
    .title{
	font-size: 16px;
	font-weight: 700;
    }
}
.to-cart{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price{
	.form-control{
	    max-width: 100px;
	}
	label{
	    margin-right: 2rem;
	    position: relative;
	    .remove{
		color: $red;
		font-weight: 700;
		position: absolute;
		right: -15px;
		top: 50%;
		transform: translateY(-50%);
		&:hover{
		    cursor: pointer;
		}
	    }
	}
    }
    .total{
	font-weight: 700;
    }
}
.cart-item{
    padding: 1.28571rem 0;
}
.cart-item+.cart-item{
    border-top: 1px solid $gray-300;
}
.special-request{
    padding-top: 1rem;
    h3{
	color: $gray-800;
    }
    textarea.form-control{
	border: 2px solid #7b7b7b;
	border-radius: 0;
	background-color: #ededed;
	color: #000;
	&::placeholder {
	    color: #000;
	}
    }

}
.terms{
    color: $gray-700;
    font-size: 13px;
}
.calendar-wrp{
    background-color: #ededed;
}
.date-and-time{
    > .row{
	justify-content: center
    }
    .calendar-head-card{
	display: none;
    }
}
.available-times{
    .btn{
	min-width: 50px;
	width: 100%;
	border-radius: 0;
	background-image: linear-gradient(to top, #c8e060 0%, #c2e17f 0%, #b6cc54 0%, #9b3 0%, #8fb45b 0%, #7b992d 0%, #8fb45b 0%, #a9c16e 0%, #b2d920 0%, white 0%, #ededed 100%);
	border: 2px solid #7b7b7b;
	color: black;
	font-family: Arial, "Open Sans";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 16px 3px;
	margin-bottom: 12px;
    }
    .disabled{
	text-decoration: line-through;
    }
}
/*Footer*/
.site-footer{
    padding: 20px 10px;
    background-color: $gray-200;
    text-align: center;
    border-top: 1px solid $gray-300;
    p strong{
	color: $black;
    }
}
.sep{
    width: 49px;
    height: 3px;
    background-color: $red;
    margin: 0 auto 1rem;
}
#toTop{
    position: fixed;
    z-index: 200;
    bottom: 3%;
    right: 1.5%;
    cursor: pointer;
    display: none;
    width: rem(43px);
    min-width: rem(43px);
    height: rem(43px);
    padding: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='350' height='350' style='' xml:space='preserve'%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none' class='' style=''/%3E%3Cg class='currentLayer' style=''%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_1' class='' fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M314.8862333126068,230.20563665390014 L181.8322333126068,97.16063665390016 c-1.901,-1.903 -4.088,-2.856 -6.562,-2.856 s-4.665,0.9530000000000002 -6.567,2.856 L35.66023331260681,230.20563665390014 C33.754233312606814,232.11163665390015 32.80423331260681,234.29863665390013 32.80423331260681,236.77363665390016 c0,2.474 0.9530000000000002,4.664 2.856,6.566 l14.272,14.271 c1.903,1.903 4.093,2.854 6.567,2.854 c2.474,0 4.664,-0.9510000000000002 6.567,-2.854 l112.204,-112.202 l112.208,112.209 c1.9020000000000001,1.903 4.093,2.848 6.563,2.848 c2.478,0 4.668,-0.9510000000000002 6.57,-2.848 l14.274000000000001,-14.277 c1.9020000000000001,-1.9020000000000001 2.847,-4.093 2.847,-6.566 C317.7332333126068,234.29863665390013 316.7882333126068,232.10863665390013 314.8862333126068,230.20563665390014 z' id='svg_2' fill='%23ffffff' fill-opacity='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba($primary, .7);
    background-size: rem(30px);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 5px;
    opacity: .7;
    &:hover{
	opacity: 1;
    }
}