@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    .btn{
	min-width: 310px;
    }
}
@include media-breakpoint-up(lg) {
    .site-header{
	padding: 60px 0;
    }
    .h1{
	padding: 37px 0;
	font-size: 3.42857rem;
    }
    .main-content{
	padding: 35px;
    }
    .site-footer{
	padding: 35px 0;
	margin-bottom: 50px;
    }
}
@include media-breakpoint-down(sm) {
    .site-header{
	.logo{
	    width: 260px;
	}
    }
}