// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Table of Contents
//
// Color system
$gray-100: #f9f9fb;
$gray-200: #ededed;
$gray-300: #d7d7d7;
$gray-400: #cccccc;
$gray-500: #a4a4a4;
$gray-700: #7b7b7b;
$gray-800: #444444;
$gray-900: #222222;
$black:    #000;


$red: #cc2125;

$primary: $gray-900;
$secondary: $red;


// Options
//$enable-rounded: false;

// Spacing
$spacer: 2rem;
// Body
$body-bg: $gray-100;
$body-color: $gray-900;

// Links
$link-color: $red;
$link-hover-decoration: none;
//$link-decoration: underline;
// Paragraphs
// Grid breakpoints
$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1280px
);
// Grid containers
$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1230px
);
// Grid columns
$grid-gutter-width:   40px;
// Components

$border-radius:  6px;
$border-radius-lg: 6px;


// Fonts
$font-family-sans-serif:  'Open Sans', sans-serif;

$font-size-base: 1rem;
$font-size-lg: $font-size-base;

$font-weight-base : 400;
$font-weight-normal: 300;

$h1-font-size: rem(30px);
$h2-font-size: rem(26px);
$h3-font-size: rem(20px);
$h4-font-size: rem(18px);
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base ;

$headings-font-weight: 400;
$headings-font-family: 'Intro Inline', sans-serif;

$headings-margin-bottom: 1rem;

// Components
// Tables
// Buttons
$btn-font-weight: 400;
$btn-font-size: rem(16px);
// Forms
$input-border-color: #e2e2e2;

$input-btn-padding-y: rem(12px);
$input-padding-x:  rem(18px);

$input-placeholder-color: $gray-500;

// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
$card-spacer-y: rem(18px);
$card-spacer-x: rem(25px);
$card-cap-color: #fff;
$card-cap-bg: $gray-700;
$card-border-radius: 0;
$card-border-color: $gray-200;
$card-border-width: 0;
$card-bg: $gray-200;
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
$list-group-item-padding-y: rem(18px);
$list-group-item-padding-x: rem(25px);
$list-group-border-radius: 0;
$list-group-bg: $gray-200;
$list-group-border-width: 0;
$list-group-border-color: $gray-200;
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
