<% var data = {
title: "LET'S GET THIS PARTY STARTED!",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="steps">
    <div class="step step-1 active">
	<div class="round">
	    <div class="num">01</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-01"></use>
	    </svg>
	</div>
	<div class="step-name">Number of guests</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">02</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-02"></use>
	    </svg>
	</div>
	<div class="step-name">Event type</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">03</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-03"></use>
	    </svg>
	</div>
	<div class="step-name">Planner info</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">04</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-04"></use>
	    </svg>
	</div>
	<div class="step-name">Package</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">05</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-05"></use>
	    </svg>
	</div>
	<div class="step-name">Date and time</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">06</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-06"></use>
	    </svg>
	</div>
	<div class="step-name">Food</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">07</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-07"></use>
	    </svg>
	</div>
	<div class="step-name">Drinks</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">08</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-08"></use>
	    </svg>
	</div>
	<div class="step-name">Extras</div>
    </div>
    <div class="step step-9 current">
	<div class="round">
	    <div class="num">09</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-09"></use>
	    </svg>
	</div>
	<div class="step-name">Checkout</div>
    </div>
</div>
<div class="main-content">
    <h6 class="text-center mb-0">10 people are going to</h6>
    <h2 class="text-center">attend</h2>
    <div class="form-wrp mb-4">
	<%= _.template(require('./../includes/order-summary-full.html').default)(data) %>
    </div>
    <div class="text-center">
	<div class="form-group">
	    <a href="#" class="btn btn-primary">Next: payment details</a>
	</div>
	<div class="form-group">
	    <a href="step-8.html" class="btn btn-outline-primary">Cancel</a>
	</div>
    </div>
    <div class="card mt-5 terms">
	<div class="card-body pt-4">
	    <h3 class="text-center">TERMS & CONDITIONS</h3>
	    <div class="sep"></div>
	    <%= _.template(require('./../includes/terms.html').default)(data) %>
	</div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>