<% var data = {
title: "LET'S GET THIS PARTY STARTED!",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="main-content">
    <h2 class="text-center">Select menu options</h2>
    <div class="form-wrp mb-4">
	<div class="row">
	    <div class="col-12 col-lg-7">
		<div class="card">
		    <div class="card-header">
			<h3>PARTY PLATTER OPTIONS</h3>
		    </div>
		    <div class="card-body">
			<img src="./uploads/party-platter.jpg" alt="PARTY PLATTER OPTIONS" class="img-fluid mb-3">
			<p>We have something for everyone! Your food selection will be set up as a private station behind your lanes and delivered 30 minutes into your party. Platters are priced per plate.</p>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-lg-5">
		<div class="card">
		    <div class="card-header">
			<h3>Order summary</h3>
		    </div>
		    <ul class="list-group">
			<li class="list-group-item heading">
			    <h4 class="h3">WHERE</h4>
			    <a href="#">Edit</a>
			</li>
			<li class="list-group-item">
			    <p><strong>HAMILTON</strong></p>
			    <p>1525 Stone Church Rd. E.<br>Hamilton, ON L8W 3P8</p>
			</li>
			<li class="list-group-item heading">
			    <h4 class="h3">WHEN</h4>
			    <a href="#">Edit</a>
			</li>
			<li class="list-group-item">
			    <p>Wednesday, April 1st, 2020</p>
			    <p>2:00 PM</p>
			</li>
			<li class="list-group-item heading">
			    <h4 class="h3">Package</h4>
			    <a href="#">Edit</a>
			</li>
			<li class="list-group-item">
			    <p><strong>10</strong> items of for<br> <strong>2</strong> persons</p>
			</li>
			<li class="list-group-item heading">
			    <h4 class="h3">MENU</h4>
			    <a href="#">Edit</a>
			</li>
			<li class="list-group-item menu">
			    <div class="row">
				<div class="col-8">
				    <h4 class="h3">SUBTOTAL: </h4>
				</div>
				<div class="col-4">$64.99</div>
			    </div>
			    <div class="row">
				<div class="col-8">
				    <strong>Taxes:</strong>
				</div>
				<div class="col-4">$03.00</div>
			    </div>
			    <hr>
			    <div class="row total">
				<div class="col-8">
				    <h4 class="h3">TOTAL:</h4>
				</div>
				<div class="col-4">$67.99</div>
			    </div>
			</li>
		    </ul>
		</div>

	    </div>
	</div>
    </div>
    <div class="text-center">
	<div class="form-group">
	    <a href="step-5.html" class="btn btn-primary">Next: select package</a>
	</div>
	<div class="form-group">
	    <a href="step-3.html" class="btn btn-outline-primary">Cancel</a>
	</div>
    </div>

</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>