<% var data = {
title: "LET'S GET THIS PARTY STARTED!",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="steps">
    <div class="step step-1 active">
	<div class="round">
	    <div class="num">01</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-01"></use>
	    </svg>
	</div>
	<div class="step-name">Number of guests</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">02</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-02"></use>
	    </svg>
	</div>
	<div class="step-name">Event type</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">03</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-03"></use>
	    </svg>
	</div>
	<div class="step-name">Planner info</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">04</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-04"></use>
	    </svg>
	</div>
	<div class="step-name">Package</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">05</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-05"></use>
	    </svg>
	</div>
	<div class="step-name">Date and time</div>
    </div>
    <div class="step current">
	<div class="round">
	    <div class="num">06</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-06"></use>
	    </svg>
	</div>
	<div class="step-name">Food</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">07</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-07"></use>
	    </svg>
	</div>
	<div class="step-name">Drinks</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">08</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-08"></use>
	    </svg>
	</div>
	<div class="step-name">Extras</div>
    </div>
    <div class="step step-9">
	<div class="round">
	    <div class="num">09</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-09"></use>
	    </svg>
	</div>
	<div class="step-name">Checkout</div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center">Select menu options</h2>
    <div class="form-wrp mb-4">
	<div class="row">
	    <div class="col-12 col-lg-7">
		<div class="card">
		    <div class="card-header">
			<h3>PARTY PLATTER OPTIONS</h3>
		    </div>
		    <div class="card-body">
			<img src="./uploads/party-platter.jpg" alt="PARTY PLATTER OPTIONS" class="img-fluid mb-3">
			<p>We have something for everyone! Your food selection will be set up as a private station behind your lanes and delivered 30 minutes into your party. Platters are priced per plate.</p>
			<div class="accordion" id="accordionFood">
			    <div class="accordion-item">
				<div class="accordion-header">
				    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Starters (6)</button>
				</div>
				<div id="collapseOne" class="collapse show" data-parent="#accordionFood">
				    <ul class="list-group list-group-flush">
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-1" checked>
						    <label class="custom-control-label" for="1-1"></label>

						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each <span class="remove">x</span></label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009" selected>1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$64.99</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-2">
						    <label class="custom-control-label" for="1-2"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-3">
						    <label class="custom-control-label" for="1-3"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-3">
						    <label class="custom-control-label" for="1-3"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-4">
						    <label class="custom-control-label" for="1-4"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="1-5">
						    <label class="custom-control-label" for="1-5"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="accordion-item">
				<div class="accordion-header">
				    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Platters (6)</button>
				</div>
				<div id="collapse-2" class="collapse" data-parent="#accordionFood">
				    <ul class="list-group list-group-flush">
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="2-1" checked>
						    <label class="custom-control-label" for="2-1"></label>

						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each <span class="remove">x</span></label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009" selected>1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$64.99</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="2-2">
						    <label class="custom-control-label" for="2-2"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="accordion-item">
				<div class="accordion-header">
				    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Combo Platters (6)</button>
				</div>
				<div id="collapse-3" class="collapse" data-parent="#accordionFood">
				    <ul class="list-group list-group-flush">
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="3-1" checked>
						    <label class="custom-control-label" for="3-1"></label>

						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each <span class="remove">x</span></label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009" selected>1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$64.99</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="3-2">
						    <label class="custom-control-label" for="3-2"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="accordion-item">
				<div class="accordion-header">
				    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Salads (6)</button>
				</div>
				<div id="collapse-4" class="collapse" data-parent="#accordionFood">
				    <ul class="list-group list-group-flush">
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="4-1" checked>
						    <label class="custom-control-label" for="4-1"></label>

						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each <span class="remove">x</span></label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009" selected>1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$64.99</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="4-2">
						    <label class="custom-control-label" for="4-2"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="accordion-item">
				<div class="accordion-header">
				    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">Add-ons (6)</button>
				</div>
				<div id="collapse-5" class="collapse" data-parent="#accordionFood">
				    <ul class="list-group list-group-flush">
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="5-1" checked>
						    <label class="custom-control-label" for="5-1"></label>

						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each <span class="remove">x</span></label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009" selected>1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$64.99</span>
						    </div>
						</div>
					    </div>
					</li>
					<li class="list-group-item menu-item">
					    <div class="check-wrp">
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input" id="5-2">
						    <label class="custom-control-label" for="5-2"></label>
						</div>
					    </div>
					    <div class="thumb">
						<img src="./uploads/thumb.png" alt="Buffalo Wings (30 Pieces)">
					    </div>
					    <div class="description">
						<p class="title">Buffalo Wings (30 Pieces)</p>
						<p>Bone-in wings that are seasoned and tastefully prepared with buffalo sauce.</p>
						<div class="to-cart">
						    <div class="price form-inline">
							<label>$64.99 Each</label>
							<select class="form-control">
							    <option value="906120009">0</option>
							    <option value="906120009">1</option>
							    <option value="906120008">2</option>
							    <option value="906120007">3</option>
							    <option value="906120000">4</option>
							    <option value="100000000">5</option>
							    <option value="100000001">6</option>
							    <option value="100000002">7</option>
							    <option value="100000003">8</option>
							    <option value="100000004">9</option>
							    <option value="100000005">10</option>
							</select>
						    </div>
						    <div class="total">
							<span>$00.00</span>
						    </div>
						</div>
					    </div>
					</li>
				    </ul>
				</div>
			    </div>
			</div>
			<div class="special-request">
			    <h3>SPECIAL REQUEST?</h3>
			    <div class="form-group">
				<textarea class="form-control" rows="5" placeholder="Does someone in your party have an allergy? Or do you have a special request?  Enter it here and we will do our best to accommodate."></textarea>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-lg-5">
		<%= _.template(require('./../includes/order-summary.html').default)(data) %>
	    </div>
	</div>
    </div>
    <div class="text-center">
	<div class="form-group">
	    <a href="step-7.html" class="btn btn-primary">Next: select drinks</a>
	</div>
	<div class="form-group">
	    <a href="step-5.html" class="btn btn-outline-primary">Cancel</a>
	</div>
    </div>

</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>