<% var data = {
title: "LET'S GET THIS PARTY STARTED!",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="steps">
    <div class="step step-1 active">
	<div class="round">
	    <div class="num">01</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-01"></use>
	    </svg>
	</div>
	<div class="step-name">Number of guests</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">02</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-02"></use>
	    </svg>
	</div>
	<div class="step-name">Event type</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">03</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-03"></use>
	    </svg>
	</div>
	<div class="step-name">Planner info</div>
    </div>
    <div class="step current">
	<div class="round">
	    <div class="num">04</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-04"></use>
	    </svg>
	</div>
	<div class="step-name">Package</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">05</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-05"></use>
	    </svg>
	</div>
	<div class="step-name">Date and time</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">06</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-06"></use>
	    </svg>
	</div>
	<div class="step-name">Food</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">07</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-07"></use>
	    </svg>
	</div>
	<div class="step-name">Drinks</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">08</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-08"></use>
	    </svg>
	</div>
	<div class="step-name">Extras</div>
    </div>
    <div class="step step-9">
	<div class="round">
	    <div class="num">09</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-09"></use>
	    </svg>
	</div>
	<div class="step-name">Checkout</div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center">HOW LONG DO YOU WANT TO BOWL?</h2>
    <div class="form-wrp mb-3">
	<div class="time-picker">
	    <div class="time-variant">1 hour</div>
	    <div class="time-variant">1,5 hours</div>
	    <div class="time-variant popular">2 hours</div>
	    <div class="time-variant">2,5 hour</div>
	</div>
    </div>
    <div class="text-center">
	<div class="form-group">
	    <a href="step-5.html" class="btn btn-primary">Next: choose date and time</a>
	</div>
	<div class="form-group">
	    <a href="step-3.html" class="btn btn-outline-primary">Cancel</a>
	</div>
    </div>

</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>