<% var data = {
title: "LET'S GET THIS PARTY STARTED!",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="steps">
    <div class="step step-1 active">
	<div class="round">
	    <div class="num">01</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-01"></use>
	    </svg>
	</div>
	<div class="step-name">Number of guests</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">02</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-02"></use>
	    </svg>
	</div>
	<div class="step-name">Event type</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">03</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-03"></use>
	    </svg>
	</div>
	<div class="step-name">Planner info</div>
    </div>
    <div class="step active">
	<div class="round">
	    <div class="num">04</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-04"></use>
	    </svg>
	</div>
	<div class="step-name">Package</div>
    </div>
    <div class="step current">
	<div class="round">
	    <div class="num">05</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-05"></use>
	    </svg>
	</div>
	<div class="step-name">Date and time</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">06</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-06"></use>
	    </svg>
	</div>
	<div class="step-name">Food</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">07</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-07"></use>
	    </svg>
	</div>
	<div class="step-name">Drinks</div>
    </div>
    <div class="step">
	<div class="round">
	    <div class="num">08</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-08"></use>
	    </svg>
	</div>
	<div class="step-name">Extras</div>
    </div>
    <div class="step step-9">
	<div class="round">
	    <div class="num">09</div>
	    <svg class="icon">
	    <use xlink:href="./img/sprite.svg#step-09"></use>
	    </svg>
	</div>
	<div class="step-name">Checkout</div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center">Select date and time</h2>
    <div class="form-wrp date-and-time mb-4">
	<div class="row">
	    <div class="col-md-6 col-xl-4">
		<div class="calendar-wrp">
		    <div id="booking-calendar"></div>
		    <div class="text-center py-2">
			<p class="mb-2">Reservations must be made 2 days in advance.</p>
			<p class="mb-2">Is your date or time unavailable?</p>
			<p><a href="#">Email a Party Planner</a></p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-6 col-xl-4">
		<div class="card available-times">
		    <div class="card-header">
			<h3>AVAILABLE TIMES</h3>
		    </div>
		    <div class="card-body">
			<div class="form-row">
			    <div class="col-4"><button class="btn disabled">09:00 AM</button></div>
			    <div class="col-4"><button class="btn disabled">09:30 AM</button></div>
			    <div class="col-4"><button class="btn disabled">10:00 AM</button></div>
			    <div class="col-4"><button class="btn disabled">10:30 AM</button></div>
			    <div class="col-4"><button class="btn disabled">11:00 AM</button></div>
			    <div class="col-4"><button class="btn disabled">11:30 AM</button></div>
			    <div class="col-4"><button class="btn disabled">12:00 AM</button></div>
			    <div class="col-4"><button class="btn disabled">12:30 AM</button></div>
			    <div class="col-4"><button class="btn disabled">01:00 PM</button></div>
			    <div class="col-4"><button class="btn">01:30 PM</button></div>
			    <div class="col-4"><button class="btn">02:00 PM</button></div>
			    <div class="col-4"><button class="btn">02:30 PM</button></div>
			    <div class="col-4"><button class="btn">03:00 PM</button></div>
			    <div class="col-4"><button class="btn">03:30 PM</button></div>
			    <div class="col-4"><button class="btn">04:00 PM</button></div>
			    <div class="col-4"><button class="btn">04:30 PM</button></div>
			    <div class="col-4"><button class="btn">05:00 PM</button></div>
			    <div class="col-4"><button class="btn">05:30 PM</button></div>
			    <div class="col-4"><button class="btn">06:00 PM</button></div>
			    <div class="col-4"><button class="btn">06:30 PM</button></div>
			    <div class="col-4"><button class="btn">07:00 PM</button></div>
			    <div class="col-4"><button class="btn">07:30 PM</button></div>
			    <div class="col-4"><button class="btn">08:00 PM</button></div>
			    <div class="col-4"><button class="btn">08:30 PM</button></div>
			    <div class="col-4"><button class="btn">09:00 PM</button></div>
			    <div class="col-4"><button class="btn disabled">09:30 PM</button></div>
			    <div class="col-4"><button class="btn disabled">10:00 PM</button></div>
			    <div class="col-4"><button class="btn disabled">10:30 PM</button></div>
			    <div class="col-4"><button class="btn disabled">11:00 PM</button></div>
			    <div class="col-4"><button class="btn disabled">11:30 PM</button></div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <div class="text-center">
	<div class="form-group">
	    <a href="step-6.html" class="btn btn-primary">Next: select food</a>
	</div>
	<div class="form-group">
	    <a href="step-4.html" class="btn btn-outline-primary">Cancel</a>
	</div>
    </div>

</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>